<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Motorola
  body 
    div.block
      main.block__item.main-page
        .owl-carousel.owl-theme
          .item
            img(src="./assets/images/grey_1_big.png", alt="phone")
          .item
            img(src="./assets/images/grey_2.png", alt="phone")
          .item
            img(src="./assets/images/grey_3.png", alt="phone")
          .item
            img(src="./assets/images/grey_4.png", alt="phone")
          .item
            img(src="./assets/images/grey_5.png", alt="phone")
          .item
            img(src="./assets/images/grey_6.png", alt="phone")
        .block__item_main-title
          img(src="./assets/images/Moto_G5S.png", alt="logo" class="block__item_main-title_logotype")
          .block__item_main-title_slogan.orange Дизайн — підкорює <br> Можливості — надихають
          .block__item_main-title_uniq Продуктивність в унікальному металевому дизайні.<br>Працюй весь день та миттєво заряджайся з TurboPower™
          button.block__item_main-title_button Придбати

      article.block__item
        .block__item_article
          .block__item_article-title.orange Заряд на цілий день
          .block__item_article-subtitle.orange Акумулятор 3000 мАг
          .block__item_article-text Хвилюватися про заряд смартфона більше не доведеться. Акумулятора ємністю 3000 мАг вистачить на весь день. А зарядний пристрій TurboPower™ за 15 хвилин додасть до 6 годин роботи смартфону.
        .block__item_image
          img(src="./assets/images/battery.png" alt="battery")
      article.block__item
        .block__item_article
          .block__item_article-title.orange Камери
          .block__item_article-subtitle.orange Подвійна основна камера 16 МП <br> Фронтальна камера 5 МП
          .block__item_article-text Ви не пропустите жодного важливого моменту. Moto G5S має 16-мегапіксельну камеру з надчітким автофокусуванням. <br><br>У групові селфі потраплять усі друзі, завдяки <br>5-мегапіксельній фронтальній камері з ширококутним об'єктивом та LED-спалахом.
        .block__item_image
          img(src="./assets/images/Exploded-Camera.png" alt="Exploded-Camera")
      section.block__item
        div.block__item_description
          div.block__item_description-photo-1
          div.block__item_description-text 
            h4 Професійний режим
            p Професійні функції цифрової камери тепер завжди під рукою. Відрегулюйте баланс білого, витримку, ISO, експозицію та фокус. Змінюйте налаштування одним натисканням і самостійно контролюйте результат.
        
        div.block__item_description
          div.block__item_description-text
            h4 Завжди готовий до фото
            p Доступ до основної камери можна отримати миттєво за допомогою спеціального Moto-жеста. Просто зробіть 2 кругових рухи зап'ястям і камера буде запущена автоматично, навіть якщо смартфон був заблокований.
          div.block__item_description-photo-2
        div.block__item_description
          div.block__item_description-photo-3
          div.block__item_description-text
            h4 Більше краси!
            p Додайте лоску до власних селфі. Спеціальний режим прибере зморшки або почервоніння на обличчі. Селфі обробляються автоматично - ви завжди будете ідеально виглядали на фотографіях.
      article.block__item
        .block__item_picture
        .block__item_article 
          .block__item_article-title.orange Посміхайтеся!
          .block__item_article-subtitle.orange Фронтальна камера 5 МП
          .block__item_article-text Ширококутний об'єктив 5-мегапіксельної фронтальної камери нікого не залишить поза кадром. Завдяки LED-спалаху ваші селфі будуть приголомшливі навіть за умов недостатнього освітлення.
      article.block__item
        .block__item_image
          img(src="./assets/images/grey_1_big.png" alt="grey")
        .block__item_article
          .block__item_article-title.orange Стиль та дизайн
          .block__item_article-subtitle.orange Металевий корпус та яскравий<br>5,2-дюймовий Full HD дисплей
          .block__item_article-text Стильний металевий корпус Motorola Moto G5<sup>s</sup> виконаний з суцільного алюмінію. Яскравий дисплей захищений надміцним Corning<sup>®</sup> Gorilla<sup>®</sup> Glass 3 забезпечує чіткі кольори та детальність зображення.
      article.block__item
        .block__item_article
          .block__item_article-title.orange Продуктивність без обмежень
          .block__item_article-subtitle.orange 3 ГБ оперативної пам'яті
          .block__item_article-text Швидкість виконання задач забезпечують 3 ГБ оперативної пам'яті та восьмиядерний процесор Qualcomm® Snapdragon™ 430 із частотою 1,4 ГГц. Насолоджуйтеся улюбленими іграми та відео, серфіть в інтернеті або слухайте музику без дратівливого очікування.
          .block__item_article-subtitle.orange Вдосталь пам’яті
          .block__item_article-text 32 ГБ вбудованої пам’яті достатньо для програм, музики, фільмів та фото. Хочете мати більше? Легко збільшуйте пам’ять смартфона до 128 ГБ за допомогою картки microSD.
        .block__item_image
          img(src="./assets/images/gaming.png" alt="grey")
      article.block__item
      article.block__item
      div.block__item(class="iframe_video")
        iframe(src="https://www.youtube.com/embed/DkeiKbqa02g", frameborder="0", class="block__item_frame")    
      article.block__item
      section.block__item