<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Motorola
  body 
    div.block
      main.block__item(class="main-page")
        .owl-carousel.owl-theme
          .item
            img(src="./assets/images/grey_1_big.png", alt="phone")
          .item
            img(src="./assets/images/grey_2.png", alt="phone")
          .item
            img(src="./assets/images/grey_3.png", alt="phone")
          .item
            img(src="./assets/images/grey_4.png", alt="phone")
          .item
            img(src="./assets/images/grey_5.png", alt="phone")
          .item
            img(src="./assets/images/grey_6.png", alt="phone")
        .block__item_main-title
          img(src="./assets/images/Moto_G5S.png", alt="logo" class="block__item_main-title_logotype")
          .block__item_main-title_slogan Дизайн — підкорює <br> Можливості — надихають

          .block__item_main-title_uniq Продуктивність в унікальному металевому дизайні.<br>Працюй весь день та миттєво заряджайся з TurboPower™

          button.block__item_main-title_button Придбати

      article.block__item
      article.block__item
      section.block__item
        div.block__item_description
          div.block__item_photo
          div.block__item_text          
        div.block__item_description
          div.block__item_text
          div.block__item_photo
        div.block__item_description
          div.block__item_photo
          div.block__item_text
      article.block__item
      article.block__item
      article.block__item
      article.block__item
      article.block__item
      div.block__item(class="iframe_video")
        iframe(src="https://www.youtube.com/embed/DkeiKbqa02g", frameborder="0", class="block__item_frame")    
      article.block__item
      section.block__item