<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Motorola
  body 
    div.block
      main.block__item
      article.block__item
      article.block__item
      section.block__item
        div.block__item_description
          div.block__item_photo
          div.block__item_text          
        div.block__item_description
          div.block__item_text
          div.block__item_photo
        div.block__item_description
          div.block__item_photo
          div.block__item_text
      article.block__item
      article.block__item
      article.block__item
      article.block__item
      article.block__item
      div.block__item(class="iframe_video")
        iframe(src="", frameborder="0", class="block__item_frame")    
      article.block__item
      section.block__item 