@media (max-width: 1024px) {
    .adaptive {
        .block {
            .main-page{
                background-size: cover;
                padding: 10px 20px;

                .block__item_main-title_slogan{
                    font-size: 30px;
                }
                .block__item_main-title_uniq{
                    font-size: 17px;
                }
                .block__item_main-title_button{
                    font-size: 20px;
                }
            }
            &__item:nth-child(2){
                padding: 50px 60px 50px 0px;
                .block__item_article{
                    &-title{
                        font-size: 30px;
                    }
                    &-subtitle {
                        font-size: 22px;
                    }
                    &-text{
                        font-size: 17px;
                        padding: 30px 0px 30px 0px;
                    }
                }
                .block__item_image{
                    img{
                        height: 550px;
                        top: -110px;
                    }
                }
            }
            &__item:nth-child(3){
                .block__item_article{
                    padding: 50px 0px 0px 60px;
                    &-title{
                        font-size: 30px;
                        
                    }
                    &-subtitle {
                        font-size: 22px;
                    }
                    &-text{
                        font-size: 17px;
                        padding: 60px 0px 40px 0px;
                    }
                }
                img{
                    bottom: -30px;
                    max-height: 80%;
                }
            }
            &__item:nth-child(4){
                padding: 10px 60px 0px 0px;
                .block__item_description{
                    
                    &-text{
                        h4{
                            font-size: 22px;
                        }
                        p{
                            padding-top: 20px;
                            font-size: 17px;
                        }
                    }
                    &-photo-1 {
                        height: 300px;             
                    }
                    &-photo-2 {
                        height: 300px;
                    }
                    &-photo-3 {
                        height: 300px;                 
                    }
                }
            }
            &__item:nth-child(5){
                padding-right: 60px;
                .block__item_article{
                    padding: 100px 0px 100px 30px;
                    &-title{
                        font-size: 30px;
                        
                    }
                    &-subtitle {
                        font-size: 22px;
                    }
                    &-text{
                        font-size: 17px;
                        padding-top: 30px;
                    }
                }
                .block__item_picture{
                    height: auto;
                }
            }
            &__item:nth-child(6){
                .block__item_article{
                    padding: 0px 20px 30px 0px;
                    &-title{
                        font-size: 30px;
                    }
                    &-subtitle {
                        font-size: 22px;
                    }
                    &-text{
                        font-size: 17px;
                        padding: 30px 0px 30px 0px;
                    }
                }
            }
            &__item:nth-child(7){
                height: auto;
                
                .block__item_article{
                    padding: 0px;
                    &-title{
                        font-size: 30px;
                    }
                    &-subtitle {
                        font-size: 22px;
                        padding-top: 10px;
                    }
                    &-text{
                        font-size: 17px;
                        padding: 30px 0px 30px 0px;
                    }
                }
            }
            &__item:nth-child(8){
                height: auto;
                padding: 0;
                .block__item_article{
                    padding: 0px;
                    &-title{
                        font-size: 30px;
                    }
                    &-subtitle {
                        font-size: 22px;
                        padding-top: 10px;
                    }
                    &-text{
                        font-size: 17px;
                        padding: 20px 20px 20px 0px;
                    }
                }
                .block__item_image{
                    padding: 50px 0px;
                    img{
                        height: 300px;
                    }
                }
            }
            &__item:nth-child(9){
                height: auto;
                padding: 30px 20px 30px 60px;
                justify-content: space-between;
                .block__item_article{
                    padding: 0px;
                    max-width: 50%;
                    &-title{
                        font-size: 30px;
                    }
                    &-subtitle {
                        font-size: 22px;
                        padding-top: 10px;
                    }
                    &-text{
                        font-size: 17px;
                    }
                }
            }
            .iframe_video{
                height: 50vh;
            }
            &__item:nth-child(11){
                padding: 40px 50px 40px 50px;
                h3{
                    font-size: 30px;
                }
                .block__item_properties{
                    &-text{
                        margin: 0;
                        .parametrs{
                            p{
                                font-size: 17px;
                            }
                        }
                    }
                    &-img{
                        height: 45vh;
                    }
                    &-more{
                        p{
                            font-size: 22px;
                            padding-bottom: 20px;
                        }
                        #buttonForShow{
                            width: 24px;
                            height: 24px;
                            margin-right: 20px;
                            span{
                                left: calc(12px - 7px);
                                top: calc(12px - 1px);
                            }
                        }
                    }
                }
            }
            &__item:last-child {
                padding: 0px 50px 10px 50px;
                height:  60vh;
                .block__item_tech-params{
                    .title{
                        font-size: 17px;
                    }
                    .param{
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

// @media (max-width: 768px) {
//     .adaptive {
//         .block {
//             .block__item_big {
//                 .item_nav {
//                     .nav {
//                         font-size: 0.7em;
//                     }
//                 }
//                 .item__content {
//                     font-size: 0.8em;
//                     .box__info-main {
//                         .info-commentary {
//                             a {
//                                 font-size: 0.7em;
//                             }
//                         }
//                         input {
//                             font-size: 0.8em;
//                         }
//                     }
//                 }
//             }
//             .block__item_small {
//                 width: 100%;
//                 margin-top: 20px;
//                 .box_order {
//                     img {
//                         height: 70px;
//                     }
//                     .about-all-items {
//                         font-size: 0.7em;
//                     }
//                 }
//             }
//             .box__info-delivery {
//                 #adressStock {
//                     flex-grow: 1;
//                     max-width: 70%;
//                 }
//                 #typeOfDelivery {
//                     max-width: 70%;
//                 }
//             }
//         }
//         .item_content-for-reg-user {
//             font-size: 1.5em;
//         }
//     }
// }